.flash {
  background-color: #61D3AE;
  color: white;
  padding: 0 15px;
  margin: 0;
  border-radius: 3px;
  animation: 10s fadeout 1s;
  opacity: 0;
  height: 0;

  @keyframes fadeout {
    0%     { opacity: 1; height: auto; padding: 10px 15px; margin: 30px 0; }
    75%    { opacity: 1; height: auto; padding: 10px 15px; margin: 30px 0; }
    95%    { opacity: 0; height: auto; padding: 10px 15px; margin: 30px 0; }
    100%   { opacity: 0; height: 0; padding: 0 15px; margin: 0; }
  }

  &.-error {
    background-color: #D36161;
  }

  &.-warning {
    background-color: #D38B61;
  }

  &.-hide {
    display: none;
  }
}