* {
    margin: 0;
    padding: 0;
  }
  
  .table-box {
    margin: 50px auto;
  }
  
  .table-row {
    display: table;
    width: 1000px; //80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
  }
  
  .table-cell {
    display: table-cell;
    width: 5%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
  }
  
  .table-head {
    background: #1b7b88;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
  }
  
  .table-head .table-cell {
    border-right: none;
  }
  
  .last-cell {
    border-right: none;
  }
  
  .first-cell {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-right: none;
  }
  
  .second-cell{
    text-align: left;
  }