<%= flash_messages %>

<div class="start-view">
  <img src="/assets/logo.svg" alt="Cloudnine">

  <header>
    <h1>Let's get started :)</h1>
    <p>I'll need some information to build your personalised playlist.</p>
  </header>

  <h2>How are you feeling?</h2>
  <p>I will use this to decide what music to play you.</p>

  <%= render 'mood_rater', path: :start_path, method: :put %>
</div>