<div class="player">
  <ul>
    <li class="cover">
      < put title cover here>
    </li>
    <li class="info">
      <h1>Artist</h1>
      <h4>Album</h4>
      <h2>Song Name</h2>
      <div class="button-items">
        
        <div id="slider">
          <div id="elapsed"></div>
        </div>
        <p id="timer">0:00</p>
        <div class="controls">
          <span class="expend">
            <svg class="step-backward" viewbox="0 0 25 25" xml:space="preserve">
              <g>
                <polygon points="4.9,4.3 9,4.3 9,11.6 21.4,4.3 21.4,20.7 9,13.4 9,20.7 4.9,20.7"></polygon>
              </g>
            </svg>
          </span>
          <svg id="play" viewbox="0 0 25 25" xml:space="preserve">
            <defs>
              <rect height="366.4" width="446.4" x="-49.5" y="-132.9"></rect>
            </defs>
            <g>
              <circle cx="12.5" cy="12.5" fill="none" r="10.8"></circle>
              <path clip-rule="evenodd" d="M8.7,6.9V18c0,0,0.2,1.4,1.8,0l8.1-4.8c0,0,1.2-1.1-1-2L9.8,6.5 C9.8,6.5,9.1,6,8.7,6.9z" fill-rule="evenodd"></path>
            </g>
          </svg>
          <svg id="pause" viewbox="0 0 25 25" xml:space="preserve">
            <g>
              <rect height="15.7" width="3.8" x="6" y="4.6"></rect>
              <rect height="15.7" width="3.9" x="14" y="4.6"></rect>
            </g>
          </svg>
          <span class="expend">
            <svg class="step-foreward" viewbox="0 0 25 25" xml:space="preserve">
              <g>
                <polygon points="20.7,4.3 16.6,4.3 16.6,11.6 4.3,4.3 4.3,20.7 16.7,13.4 16.6,20.7 20.7,20.7"></polygon>
              </g>
            </svg>
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>

