<div class="control-bar" data-js-control-bar>
  <div class="control-bar_inner">
    <img class="control-bar_image" data-js-image src="" alt="">
    <div class="control-bar_track-info">
      <div class="control-bar_title" data-js-title></div>
      <div data-js-album-info></div>
    </div>
    <div class="control-bar_controls">
      <button class="control-bar_prev" data-js-prev>Prev</button>
      <button class="control-bar_play" data-js-play>Play</button>
      <button class="control-bar_pause" data-js-pause>Pause</button>
      <button class="control-bar_next" data-js-next>Next</button>
    </div>
    <input class="control-bar_scrubber" type="range" min="1" max="1000" value="0" data-js-scrubber>
  </div>
</div>