<div class="toggle">
  <input type="radio" name="view" id="playlist" value="playlist" checked data-js-pane-option>
  <input type="radio" name="view" id="charts" value="charts" data-js-pane-option>
  <label for="playlist">Playlist</label>
  <label for="charts">Charts</label>
</div>