<div class="toggle">
  <input type="radio" name="view" id="playlist" value="playlist">
  <input type="radio" name="view" id="charts" value="charts">
  <label for="playlist">Playlist</label>
  <label for="charts">Charts</label>
</div>