<%= render layout: "layouts/skeleton" do %>
  <div class="application-layout">
    <header class="application-layout_sidebar">
      <h1><img src="/assets/logo.svg" alt="Cloudnine"></h1>
    </header>
    <div class="application-layout_content">
      <nav>
        <ul>
          <% if current_user.admin? %>
            <li><a href="/admin">Admin stats</a></li>
          <% end %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li>
            <%= link_to preferences_path, title: "Preferences" do %>
              <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-label="Preferences" role="img">
                <path d="M8.753 0L7.506 2.968c-.25.074-.474.2-.698.324L3.84 2.045 2.045 3.84l1.247 2.968c-.125.25-.225.449-.324.698L0 8.753v2.494l2.968 1.247c.1.25.2.449.324.698L2.045 16.16l1.795 1.795 2.968-1.247c.224.1.449.225.698.324L8.753 20h2.494l1.247-2.968c.224-.1.474-.2.698-.324l2.968 1.247 1.795-1.795-1.247-2.968c.1-.224.225-.474.324-.698L20 11.247V8.753l-2.968-1.247a4.374 4.374 0 00-.324-.698l1.247-2.968-1.795-1.795-2.968 1.247c-.224-.1-.474-.225-.698-.324L11.247 0H8.753zM10 6.234c2.07 0 3.74 1.671 3.74 3.741 0 2.07-1.67 3.74-3.74 3.74-2.07 0-3.74-1.67-3.74-3.74 0-2.07 1.67-3.74 3.74-3.74z" fill-rule="nonzero"/>
              </svg>
            <% end %>
          </li>
        </ul>
      </nav>
      <main>
        <%= yield %>
      </main>
    </div>
  </div>
<% end %>